name: Build & Push Frontend Docker Image

on:
  workflow_dispatch:

  push:
    branches:
      - main
      - 'feature/*'

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies and build
        run: |
          npm install
          npm run build

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: lowerUser
        shell: bash
        run: |
          USER="${{ github.actor }}"
          echo "value=${USER,,}" >> $GITHUB_OUTPUT

      - id: lowerRepo
        shell: bash
        run: |
          REPO="${{ github.event.repository.name }}"
          echo "value=${REPO,,}" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ steps.lowerUser.outputs.value }}/${{ steps.lowerRepo.outputs.value }}:latest


