name: Build, Push and Deploy Frontend Docker Image

on:
  workflow_dispatch:

  push:
    branches:
      - main
      - 'feature/*'

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies and build
        run: |
          pnpm install
          npm run build

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: lowerUser
        shell: bash
        run: |
          USER="${{ github.actor }}"
          echo "value=${USER,,}" >> $GITHUB_OUTPUT

      - id: lowerRepo
        shell: bash
        run: |
          REPO="${{ github.event.repository.name }}"
          echo "value=${REPO,,}" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ steps.lowerUser.outputs.value }}/${{ steps.lowerRepo.outputs.value }}:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: kpz9-frontend
          images: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:latest
